.toy-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 16px;
    padding-inline-start: 0;
    color: rgb(31, 30, 29);
    padding: 0 20px;
}

.btns {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;

    a {
        margin-right: 10px;
        color: inherit;
    }
}
